<ion-header>
  <ion-toolbar class="toolbar-clear"></ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <h1 class="title">CONTROLE DE ATENDIMENTO</h1>

  <div class="cards">
    <a class="card card--green" routerLink="/totem">
      <span class="label">TOTEM DE<br/>ATENDIMENTO</span>
    </a>

    <a class="card card--blue" routerLink="/painel">
      <span class="label">PAINEL</span>
    </a>

    <a class="card card--yellow" routerLink="/atendente">
      <span class="label">ATENDIMENTO</span>
    </a>

    <a class="card card--orange" routerLink="/relatorios">
      <span class="label">RELATÓRIOS</span>
    </a>
  </div>

</ion-content>
